<div class="subnav subnav-fixed" style="padding-bottom: 0px; margin-bottom: 0px;">
    <ul class="nav nav-pills">
        <li class="">
            <a href="/cola">Home</a>
        </li>
        <li class="">
            <a href="#">Guia del sistema</a>
        </li>
        <li class="">
            <a href="/ver-estadisticas">Estadisticas</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="">
                Personal
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/registrar-personal">Registrar Personal</a></li>
                <li><a href="/editar-eliminar-personal">Editar Eliminar personal</a></li>
                <li class="divider"></li>
                <li><a href="/cambiar-horario">Cambiar horarios</a></li>
                <li><a href="/rotar-horario">Rotar personal</a></li>
                <li><a href="/ver-asistencia">Ver asistencias</a></li>
                <!--<li><a href="/ver-turnos">Agregar Turno</a></li>-->
            </ul>
        </li>
    </ul>
</div>
               