<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table-bordered">
    <tr>
        <td><a href="/sigestar/estadistica_categoria">categoria</a></td>
        <td><a href="/sigestar/estadistica_estado">estado</a></td>
        <td><a href="/sigestar/estadistica_tipo">tipo</a></td>
    </tr>
    <tr>
        <td><a href="/sigestar/estadistica_incidente">incidentes</a></td>
        <td><a href="/sigestar/numero_solicitudes">solicitudes</a></td>
        <td><a href="/sigestar/estadistica_feed">feedbacks</a></td>
    </tr>
    <tr>
        <td><a href="/sigestar/estadistica_empleado">empleados</a></td>
        <td><a href="/sigestar/estadistica_turnos">turnos</a></td>
        <td><a href="">---</a></td>
    </tr>
    </tbody>
</table>